<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="VSP.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
    <userSettings>
        <VSP.Properties.Settings>
            <setting name="BaudRate" serializeAs="String">
                <value>115200</value>
            </setting>
            <setting name="showSendCheckBox" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="sendNewLineCheckBox" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="receiveColorCheckBox" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="sendString" serializeAs="String">
                <value />
            </setting>
            <setting name="serialName" serializeAs="String">
                <value />
            </setting>
            <setting name="autoSendCycle" serializeAs="String">
                <value>100</value>
            </setting>
        </VSP.Properties.Settings>
    </userSettings>
</configuration>
